// app global css
html
  scroll-behavior: smooth;

.content
  margin: 0 auto 0 auto;
@media all and (min-width: 1024px)
  .content
    max-width:70vw
@media all and (min-width: 768px) and (max-width: 1024px)
   .content
    max-width:95vw
@media all and (min-width: 480px) and (max-width: 768px)
   .content
    max-width:100vw
@media all and (max-width: 480px)
  .content
    max-width:100vw